[Unit]
Description=Conky the Mastodon robot
After=network.target
 
[Service]
Type=simple
ExecStart=python3 /home/pi/conky/conky.py
WorkingDirectory=/home/pi/conky
User=pi
Restart=on-failure
SyslogIdentifier=conky.txt
RestartSec=5
TimeoutStartSec=infinity
 
[Install]
WantedBy=multi-user.target
